* {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(0, 0, 0);
}

.nav {
    left: 5%;
    width: 90%;
    position: absolute;
    height: 60px;
    border-bottom: 5px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    display: inline;
    padding-right: 50px;
    top: 15px;
}

a {
    color: white;
}

a:hover {
    cursor: pointer;
    color: #ccc;
}

a:active {
    color: #ccc;
}

.intro {
    text-align: center;
    font-size: 900%;
    line-height: 110%;
    position: relative;
    top: 100px;
}

.or-circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    transition: all .5s linear;
}

.or-circle-text {
    font-family: "Playfair Display", cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 50%;
    color: rgb(0, 0, 0);
    position: relative;
}

.arial {
    position: relative;
    top: 150px;
    font-family: "Arial";
}

.play-button {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
    top: 450px;
}

.game-button {
    background-color: black;
    border-width: thick;
    color: white;
    border-color: white;
}

.game-button:hover {
    background-color: white;
    border-color: white;
}

.description {
    text-align: left;
    width: 400px;
    font-size: 15%;
    line-height: normal;
    margin-left: 35%;
}

.game {
    position: relative;
    top: 100px;
}

.phrase {
    text-align: center;
    font-size: 900%;
    line-height: 110%;
}

.guess-buttons {
    position: relative;
    left: 0;
    right: 0;
    width: 600px;
    margin: auto;
    top: 300px;
}

.helvetica-button {
    width: 200px;
    margin-right: 195px
}

.arial-button {
    width: 200px;
}

.endGame {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
}

.your-score {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
}

.endGame-circle {
    position: relative;
    left: 0px;
    right: 0px;
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    transition: all .5s linear;
    margin-left: auto;
    margin-right: auto;
}

.endGame-text {
    font-family: "Playfair Display", cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 150px;
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    top: 60px;
}

.endGame-button {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
    top: 450px;
}